.qualityf {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 42px;
    font-weight:bold;
    margin-left: 40px;

}

.quality_h1{
    display: flex;
    justify-content: center;
    color: #090606;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-weight: bolder;
    font-size: 32px;
}

.title-category {
    display: block;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 22px;
    margin-left: 0px;
}


.quality {
    margin-bottom: 20px;
    height: 26px;
    margin-left: 5px;
    border-radius: 11px;
    width: 45px;

}

.btnqual {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(224, 148, 4, 0.89);
    text-align: center;
    font-size: 20px;
    flex: 0;
    color: #f5f0f0;
    cursor: pointer;
    padding: 0px 5px;
    margin: 10px;
    border: solid #ff9100 1px;
    font-weight: bolder;
}

.btnqual:hover {
    background-color: #d59d55;
}
